@font-face {
  font-family: "Boots And Spurs";
  src: url("/fonts/BootsAndSpurs.ttf") format(truetype);
}
h1,
h2,
.logo {
  font-family: "Boots And Spurs";
}

header {
  background-color: #202020;
  color: #fff;
  display: flex;
}

header a {
  color: #fff;
  text-decoration: none;
  font-size: 30px;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 450px;
}
.cta {
  background-color: #bb0000;
  color: #fff;
  font-size: 1.5em;
}
.cta-sale {
  background-color: #127300;
}
footer {
  background-color: #202020;
  color: #fff;
}
.logo {
  font-size: 45px;
}
.autenticIMG {
  background-image: url("/images/home-header.jpg");
  min-height: 70vh;
  background-size: cover;
  background-position-x: right;
  background-position-y: bottom;
  background-repeat: no-repeat;
}

.reviews {
  background-color: #e8e8e8;
}
.review_portrait {
  border-radius: 50%;
}
.selling-points_image {
  border-radius: 100px;
}

.underline {
  text-decoration: underline;
}
