@font-face {
  font-family: "Boots And Spurs";
  src: url("/fonts/BootsAndSpurs.ttf") format(truetype);
}
h1 {
  font-family: "Boots And Spurs";
}

header {
  background-color: #202020;
  color: #fff;
}

header a {
  color: #fff;
}

.autenticIMG {
  background-image: url("/images/home-header.jpg");
}

.reviews {
  background-color: #e8e8e8;
}

footer {
  background-color: #202020;
  color: #fff;
}
